body{font-family: 'Inter', sans-serif;}

/* ! settings/all-pages */

a{text-decoration: none; color: blue;}
.header{width:100%;
        position: relative;
        background:#020f22;
        padding:35px;
        display:flex;}
.button0{color:white;
         border-radius:4px;
         background:#1561f9;
         padding: 31px 25px;
         display:inline-block;
         text-decoration:none;
         font-weight:700;
         font-size:19px;
         position:absolute;
         right:7%}
.button1{color:white;
         padding: 31px 25px;
         display:inline-block;
         text-decoration:none;
         font-weight:700;
         font-size:19px;}
/* ! home-page */

.button4{color: white;
         border-radius:4px;
         background:#020f22;
         padding: 31px 100px;
         display:inline-block;
         text-decoration: none;
         font-weight:700;
         font-size:19px;}
.container-home{height:500px;
                width:100%;
                display:flex;
                align-items:center;}
.sfondo-primario{position: absolute;
                 width:100%;
                 z-index: -1;
}
.intro{
  font-size:25px;
  margin-bottom:40xp;}
.grote-tekst-home{
    font-size:70px;
    margin-top:75px;}
.container-home2{width:100%;
                 margin:150px;
                 color:black;}
.containerclass-home2{
  text-align: center;}
/* ! Voor meer informatie */
.kopjes-informatie {text-align: center;}
}
<




/* ! geschiedenis-page */

/* ! video-page */

/* ! Contact-page */

.groot-tekst-contact{
  color:white;
  font-size:45px;
  margin-top:30px;}
label{
  text-decoration:none;
  font-weight:700;
  font-size:17px;}
input,label{
  width:100%;
  display:block;
  color:white;}
input,textarea{
  background:transparent;
  font-weight:700;
  font-size:17px;
  color: white;}
input[type=submit]{
  background-color:#1561f9;
  padding:15px;
  font-weight:700;
  font-size:21px;
  color:white;
  border: 30px solid #020f22;}
.contact-container{
  background:#020f22;
  Text-align:center;
  width:100%;
  padding-top:3%;}
form{max-width:500px;
     text-align:left;
     padding: 60px;
     right:80%}
.container2-contact{
  padding: 30px;
}
.contact-ul{
  color:black;
  font-weight:700;
  font-size:17px;
}




